<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Username" value="" />
    <add key="Password" value="" />
    <add key="StartTime" value="8" />
    <add key="apppath" value="C:\source\Software\Explorer++.exe" />
    <add key="sswebsite" value="C:\Program Files (x86)\Google\Chrome\Application\chrome.exe https://ssmkep01.sensient-tech.net/SecretServer/login.aspx" />
    <add key="radiusapp" value="C:\Program Files (x86)\Symantec\VIP Access Client\VIPUIManager.exe" />
    <add key="ServerHours" value="8" />
  </appSettings>
</configuration>